@model TagIndexViewModel

<h4>Tags</h4>
<a class="btn btn-primary" href="@Url.Action("Add")">Add</a>

<div class="w-a">
    <form class="search" asp-action="Index">
        <table class="main_div">
            <tr>
                <td><label class="control-label">Tag Name: </label></td>
                <td></td>
            </tr>
            <tr>
                <td><input asp-for="LikeTagName" class="form-control my-1" placeholder="Search"></td>
                <td><button class="btn btn-secondary my-1" type="submit">Search</button></td>
            </tr>
        </table>
    </form>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width:70%">TagName</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tag in Model.Tags)
    {
        <tr class="tbl">
            <td>@tag.TagName</td>
            <td>
                @using (Html.BeginForm("Delete", "Tag", new { id = tag.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                {
                    <a class="btn btn-secondary my-1" href="@Url.Action("Edit", new { Id = tag.Id })">Edit</a>
                    <input class="btn btn-secondary my-1" type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
    </tbody>
</table>