html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-unban {
    color: #fff;
    background-color: green;
    border-color: green;
}

.btn-unban:hover {
    color: #fff;
    background-color: #008000;
    border-color: #008000;
}

.btn-ban {
    color: #fff;
    background-color: #B22222;
    border-color: #B22222;
}

.btn-ban:hover {
    color: #fff;
    background-color: #8B0000;
    border-color: #8B0000;
}

.text-unban {
    color: green;
    font-weight: bold
}

.text-ban {
    color: #B22222;
    font-weight: bold
}

.tbl {
    vertical-align: middle;
}

.search {
    display: flex;
    flex-direction: row;
    float: left;
}

.search table {
    border-spacing: 10px 0;
    border-collapse: separate;
}

.search div {
    bottom: 0 !important;
}

.search input {
    width: 200px;
    bottom: 0 !important;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}


.w-760 {
    width: 760px;
}

.b-10 {
    bottom: 10px;
}

.bg-teal-400 {
    background-color: #26a69a;
}

a {
    text-decoration: none !important;
}


.fa {
    color: red;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

text-align-center {
    display: inline-block;
}