html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-unban {
    color: #fff;
    background-color: green;
    border-color: green;
}

.btn-unban:hover {
    color: #fff;
    background-color: #008000;
    border-color: #008000;
}

.btn-ban {
    color: #fff;
    background-color: #B22222;
    border-color: #B22222;
}

.btn-ban:hover {
    color: #fff;
    background-color: #8B0000;
    border-color: #8B0000;
}

.text-unban {
    color: green;
    font-weight: bold
}

.text-ban {
    color: #B22222;
    font-weight: bold
}

.tbl {
    vertical-align: middle;
}

.search {
    display: flex;
    flex-direction: row;
    float: left;
}

.search table {
    border-spacing: 10px 0;
    border-collapse: separate;
}

.search div {
    bottom: 0 !important;
}

.search input {
    width: 200px;
    bottom: 0 !important;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}


.w-760 {
    width: 760px;
}

.b-10 {
    bottom: 10px;
}

.bg-teal-400 {
    background-color: #26a69a;
}

a {
    text-decoration: none !important;
}


.fa {
    color: red;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}


.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}



.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.list-menu a {
    color: #343a40;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

[class*='card-product'] a.title {
    color: #212529;
    display: block;
}

.card-product-grid:hover .btn-overlay {
    opacity: 1;
}

.card-product-grid .btn-overlay {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

.img-wrap {
    overflow: hidden;
    position: relative;
}


.p--10 {
    padding-left: 
}

.tag-font {
    color: #505050;
    font-size: 14px;
}

.col-md-side-23-5 {
    width: 23.5%;
}

.col-md-side-60 {
    width: 76.5%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.container2 {
    width: 100%;
    padding-right: 15px;
    /* padding-left: 15px; */
}

.col-md-10-custom {
    position: relative;
    width: 76.5%;
    min-height: 1px;
    padding-left: 0;
    padding-right: 45px !important;
}

.z-index-100 {
    z-index: 100;
}

.z-index-1 {
    z-index: 1;
}