@model AdIndexViewModel


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:70%">TagName</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model.Ads)
        {
            <tr>
               
                <td>
                   BLA
                </td>
            </tr>
        }
    </tbody>
</table>
