@model AdIndexViewModel


<h1>Ads</h1>
<a class="btn btn-primary" href="@Url.Action("Add")">Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:20%">Photo</th>
            <th>Title</th>
            <th>Price</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model.Ads)
        {
            <tr>
                <td class="align-middle">
                    <img src="https://psychologieprokazdeho.cz/wp-content/uploads/2018/03/zacinajici-obchodnik.jpg" alt="Bla" width="400"
                     height="400" class="img-thumbnail">
                </td>
                <td class="align-middle"> @ad.Title</td>
                <td class="align-middle"> @ad.Price</td>

                <td class="align-middle">
                    @if (ad.IsOffer)
                    {
                        <div>Offer</div>
                    }
                    @if (!ad.IsOffer)
                    {
                        <div>Demand</div>
                    }
                </td>

                <td class="align-middle">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@ad.Id"> Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
